{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "react-require",
    [
      "module-resolver",
      {
        "root": [
          "./src/"
        ],
        "alias": {
          "material-ui": "@material-ui/core",
          "src": "./src"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  },
  "ignore": ["node_modules/**"]
}